
@import url(https://fonts.googleapis.com/css?family=Handlee|Pacifico);


@import url(https://fonts.googleapis.com/css?family=Handlee|Pacifico);
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Cabin&family=Jost&family=Permanent+Marker&display=swap');


* {
	box-sizing: border-box;
}

/* body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1524230659092-07f99a75c013?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
} */

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


h2,
h3,
a {
	color: #34495e;
}

a {
	text-decoration: none;
}



.logo {
	margin: 0;
	font-size: 1.45em;
}

.main-nav {
	margin-top: 5px;

}
.logo a,
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.main-nav a {
	color: #34495e;
	font-size: .99em;
}

.main-nav a:hover {
	color: #718daa;
}



.header {
	padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid #a2a2a2;
	background-color: #f4f4f4;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
    	.header{
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
	}

}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}

body {
  text-align: center;
  background-image: url(https://images.unsplash.com/photo-1563845104282-efeedd2b75d8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8ZHJ1bXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60);
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(4px);
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}
.welcome{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 3rem;
  font-weight: 500;
  color: white;
}
.logo{
  width: 15%;
  height: 30%;
  margin-top: 5px;
=======
* {
    text-align: center;
    background-image: url("https://media.istockphoto.com/photos/gradient-with-paris-daisy-yellow-screaming-green-bright-turquoise-picture-id1063685130?k=20&m=1063685130&s=170667a&w=0&h=YHmO-q_yZxytZwAWgE76tyvA6HrxzEUCuS8zOpcj11M=");
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  
  .welcome{
    color: black;
    font-size: 1.9rem;
    font-weight: 500;
  }

  h1 {
    font-size: 5rem;
    color: rgb(253, 55, 55);
    font-family: "Times New Roman";
    text-shadow: 1px 0 rgb(250, 253, 68);
    margin: 5vh auto;
  }
  i{
    color:white;
    font-size: 20px;
  }
  h2 {
    color: yellow;
  }
  
  footer {
    color: #dbedf3;
    font-family: 'Baloo Bhaijaan 2', cursive;
  }
  
  .w {
    background-image: url('images/tom1.png');
  }
  
  .a {
    background-image: url('images/tom2.png');
  }
  
  .s {
    background-image: url('images/tom3.png');
  }
  
  .d {
    background-image: url('images/tom4.png');
  }
  
  .j {
    background-image: url('images/crash.png');
  }
  
  .k {
    background-image: url('images/kick.png');
  }
  
  .l {
    background-image: url('images/snare.png');
  }
  
  .i {
    background-image: url('images/Hi-hat.png');
  }
  
  .g {
    background-image: url('images/drum-stick.jpg');
  }
  
  .f {
    background-image: url('images/drum.png');
  }
  
  .h {
    background-image: url('images/circle.png');
  }
  
  .set {
    margin: 10% auto;
  }
  
  .game-over {
    background-color: red;
    opacity: 0.8;
  }
  
  .pressed {
    box-shadow: 0 3px 4px 0 #dbedf3;
    opacity: 0.5;
  }
  
  .red {
    color: red;
  }
  
  .drum {
    outline: none;
    border: 10px solid #d4c536;
    font-size: 5rem;
    font-family: 'Arvo', cursive;
    line-height: 2;
    font-weight: 900;
    color: #da0463;
    text-shadow: 3px 0 #dbedf3;
    border-radius: 0px;
    display: inline-block;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 10px;
    background-color: white;
  }
  
  /* modal css */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
   
  
  }
  
  h3{
    font-size:3rem;
    
    font-family: 'Arvo', cursive;
    text-shadow: 3px 0 #da0463;
    margin: 5vh auto;
  }
  
  .modal-content {
    background-image:linear-gradient(to right,#ff512f,#dd2576);
    margin: 4% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 67%;
    max-height: 85%;
    border-style:solid;
    border-width: 12px;
    border-color: white;
    overflow-y: scroll;
  }
  
  ::-webkit-scrollbar {
    display: none;
  }
  
  ul{
    text-align: center;
    
    margin-top: -2px;
  }
  
  /* The Close Button */
  .close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    /* color: black; */
    text-decoration: none;
    cursor: pointer;
  }
  
  .btn {
    background-color: #fff; 
    /* color: #283149; */
    /* color: #afb9c8; */
    /*color: ;*/
    font-weight: bold;
    height: 40px;
    width: 150px;
    border: 2px solid #009952;
    border-radius: 15px;
  }
  .btn:focus {
    transform: scale(0.94);
  }
  
  .instructions {
    color: #40da85;
    /* size: 1.7rem; */
    size: 4rem;
    margin-block-start: 0;
    margin-block-end: 0;
    border: none;
    outline: none;
  }
  .show_sequence {
    color: #afb9c8;
    size: 4rem;
    margin-block-start: 0;
    margin-block-end: 0;
    border: none;
    outline: none;
  }
  
  
  
  .text1 {
    color: #ffffff;
    margin: 0;
    font-size:1.5rem;
  }
  
  .text{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #dbff11;
    text-decoration: underline;
    text-align:center;
    margin-left:6%;
  }
  
  
  .text2
  {
    font-size:2rem;
    color:#b6ff2f;
    font-weight: 600;
  }
  
  li {
    /* text-decoration: ; */
    list-style: none;
  }

  
}
.login__input {
  /* border: none; */
  padding: 0.5rem 2rem;
  font-size: 1.6rem;
  font-family: inherit;
  text-align: center;
  width: 12rem;
  border-radius: 10rem;
  margin-right: 1rem;
  color: inherit;
  border: 1px solid rgb(12, 10, 10);
  transition: all 0.3s;
}

.sec{
  opacity: 0;
}
.login__btn {
  border: none;
  background: none;
  font-size: 2.2rem;
  color: inherit;
  cursor: pointer;
  transition: all 0.3s;
}

.login__btn:hover,
.login__btn:focus {
  outline: none;
  color: #777;
}

h1 {
  font-size: 5rem;
  color: #dbedf3;
  font-family: 'Arvo', cursive;
  text-shadow: 3px 0 #da0463;
  margin: 5vh auto;
}

h2 {
  color: #afb9c8;
}

footer {
  color: #dbedf3;
  font-family: 'Baloo Bhaijaan 2', cursive;
}

.w {
  background-image: url('images/tom1.png');
}

.a {
  background-image: url('images/tom2.png');
}

.s {
  background-image: url('images/tom3.png');
}

.d {
  background-image: url('images/tom4.png');
}

.j {
  background-image: url('images/crash.png');
}

.k {
  background-image: url('images/kick.png');
}

.l {
  background-image: url('images/snare.png');
}

.i {
  background-image: url('images/Hi-hat.png');
}

.g {
  background-image: url('images/drum-stick.jpg');
}

.f {
  background-image: url('images/drum.png');
}

.h {
  background-image: url('images/circle.png');
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #dbedf3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #404b69;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #da0463;
  text-shadow: 3px 0 #dbedf3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}

/* modal css */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
 

}

h3{
  font-size:3rem;
  
  font-family: 'Arvo', cursive;
  text-shadow: 3px 0 #da0463;
  margin: 5vh auto;
}

.modal-content {
  background-image:linear-gradient(to right,#ff512f,#dd2476);
  margin: 4% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 67%;
  max-height: 85%;
  border-style:solid;
  border-width: 12px;
  border-color: white;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  display: none;
}

ul{
  text-align: center;
  
  margin-top: -2px;
}

/* The Close Button */
.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  /* color: black; */
  text-decoration: none;
  cursor: pointer;
}

.btn {
  /* background-color: #fff; */
  /* color: #283149; */
  /* color: #afb9c8; */
  color: transparent;
  font-weight: bold;
  height: 40px;
  width: 150px;
  border: 2px solid #dbedf3;
  border-radius: 15px;
}
.btn:focus {
  transform: scale(0.94);
}


.instructions {
  color: #afb9c8;
  /* size: 1.7rem; */
  size: 4rem;
  margin-block-start: 0;
  margin-block-end: 0;
  border: none;
  outline: none;
}
.show_sequence {
  color: #afb9c8;
  size: 4rem;
  margin-block-start: 0;
  margin-block-end: 0;
  border: none;
  outline: none;
}

.text1 {
  color: #ffffff;
  margin: 0;
  font-size:1.5rem;
}

.text{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #dbff11;
  text-decoration: underline;
  text-align:center;
  margin-left:6%;
}


.text2
{
  font-size:2rem;
  color:#b6ff2f;
  font-weight: 600;
}

li {
  /* text-decoration: ; */
  list-style: none;
}

.keys {
  font-size: 2rem;
  color: rgb(248, 252, 16);
  font-weight: 900;
}
.main-wrapper {
	margin: 30px auto 0;
	width: 1080px;
	text-align: center;
}

.main-title {
	font-family: 'Pacifico', cursive;
	text-align: center;
	font-size: 3.2em;
	color: #cb2026;
	text-shadow: 1px 1px 1px #5a0b0d;
}

.drum-kit-wrapper {
	position: relative;
	width: 600px;
	margin: -100px auto 0;
}

.drum-kit {
	width: 100%;
	height: 520px;
	position: relative;
}

.crash-cymbal {
	position: absolute;
	top: 114px;
    left: 80px;
    transform: rotate(-7.2deg) scale(1.5);
    transition: all ease-in-out .042s;
}

.hihat-top-cymbal {
	position: absolute;
    top: 166px;
    right: 71px;
    transform: scale(1.35);
    z-index: 0;
    transition: all ease-in-out .042s;
}

.key {
	display: inline-block;
	transition: all ease-in-out .042s;
	position: absolute;
	background: #eaeaea;
    font-size: 1.5em;
    height: 32px;
    width: 32px;
    text-align: center;
    border-radius: 4px;
    border: 3px solid #aaa;
    color: #444;
    box-shadow: 1px 1px 1px rgba(0,0,0,.65);
    z-index: 2;
}

.key.kick {
	top: 355px;
    right: 250px;
}

.key.kick2 {
    top: 355px;
    right: 308px;
}

.key.snare {
	right: 145px;
    top: 280px;
}

.key.tom-high {
	right: 227px;
    top: 240px;
}

.key.tom-mid {
	left: 222px;
    top: 220px;
}

.key.tom-low {
	top: 320px;
    left: 133px;
}

.key.crash {
	top: 80px;
    left: 75px;
}

.key.ride {
	left: 165px;
    top: 87px;
}

.key.hihat-open {
	right: 165px;
    top: 144px;
}

.key.hihat-close {
	right: 60px;
    top: 150px;
}

.playing {
	transform: scale(1.12);
}

.key-map-wrapper {
	position: absolute;
    right: 0;
    top: 0;
    height: 700px;
    background: #111;
    width: 250px;
    z-index: 3;
    display: none;
}
.key-map-wrapper_one {
	position: absolute;
    right: 0;
    top: 0;
    height: 700px;
    background: #111;
    width: 250px;
    z-index: 3;
    display: block!important;
}
.key-map-wrapper > h2 {
	color: #fff;
	font-family: 'Handlee', cursive;
	margin-bottom: 35px;
	border-bottom: 1px solid #fff;
    padding-bottom: 20px;
}

.key-map-list {
	list-style: none;
	color: #fff;
	text-align: left;
}

.key-map-list > li {
	margin-bottom: 25px;
}

.key-code {
	color: #444;
    background-color: #eaeaea;
    font-size: 1.25em;
    padding: 5px 10px;
    border-radius: 4px;
    border: 3px solid #aaa;
}

.key-sound {
	font-size: 1.2em;
	margin-left: 10px;
	font-family: 'Handlee', cursive;
	vertical-align: middle;
}

main
.footer{
  color: #111;

.celebrate{
  font-family: 'Baloo Bhaijaan 2', cursive;
}

#refresh{
  font-family: 'Baloo Bhaijaan 2', cursive;
  font-size: 20px;
 main
}